<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Big Movie Extravaganza</title>
</head>
<body>
    <h1>Close-up on one of those movie raters</h1>
    <p>Job: {{ rater.occupation }}</p>
    <p>Age: {{ rater.age }}</p>
    <p>Gender: {{ rater.gender }}</p>
    <p>ZIP: {{ rater.zip_code }}</p>
    <p>Number of movies rated: {{ total }}</p>
    <p>Average rating: {{ average }} out of 5 ... MAKE PRETTIER</p>
    <p>Movie ratings: </p>
    {% for item in ratings %}
    <p>{{ item.movie }} -- {{ item.rating }}</p>
    {% endfor %}
<!-- movies need to link to movie page. probably use a .. movie_id.movie_title.-->
</body>
</html>