<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Big Movie Extravaganza</title>
</head>
<body>
    <h1><a href="{{ movie.imdb_url }}">{{ movie.movie_title }} </a> </h1>
    <h5>Original release date: {{ movie.release_date }}</h5>
    <h5>Video release date: {{ movie.video_release_date }}</h5>

    <h3>This movie has been rated by {{ total }} people.</h3>
    <h3>The average rating is {{ average.rating__avg }} with 5 as the highest </h3>
    <h4>Go back to <a href="/top_movies/">The Top 20</a>. Or continue reading for a list of raters for this movie, with highest ratings at the top. Click for more on that person.</h4>
    {% for item in ratings %}
    <p> <a href="/rater_id/{{ item.rater_id }}"> Rater ID {{ item.rater_id }} </a> gave it {{ item.rating }} stars</p>
    {% endfor %}
   <!-- item.id goes back to item.rater /// each rater needs to link to that rater's page -->
   <!-- display more about the movie? genre, on video?  -->
</body>
</html>