<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Big Movie Extravaganza</title>
</head>
<body>
    <h1>Close-up on one of those movie raters</h1>
    <p>Job: {{ rater.occupation }}</p>
    <p>Age: {{ rater.age }}</p>
    <p>Gender: {{ rater.gender }}</p>
    <p>ZIP: {{ rater.zip_code }}</p>
    <p>Number of movies rated: {{ total }}</p>
    <p>This person gave an average rating of {{ average.rating__avg }} with 5 as the highest </p>
    <p>Go back to <a href="/top_movies/" >The Top 20 movies</a>. Or continue reading for movies this person has rated, starting with the highest rated: </p>
    <ol>
    {% for item in ratings %}
    <li> <a href="/movie_id/{{ item.movie_id }}" > {{ item.movie }}</a> -- {{ item.rating }} </li>
    {% endfor %}
    </ol>

</body>
</html>